{# -*- mode: jinja2; coding: utf-8; -*-
Time-stamp: <2025-11-26 17:44:59 krylon>
/data/code/python/headlines/web/templates/blacklist.jinja
created on 24. 11. 2025
(c) 2025 Benjamin Walkenhorst
 #}

{% extends "main.jinja" %}

{% block content %}
  <div class="centered">
    <button class="btn btn-primary btn-sm"
            data-bs-toggle="collapse"
            href="#collapse_bl_form"
            aria-expanded="false"
            aria-controls="#collapse_bl_form">
            Add Pattern
    </button>

    <div class="collapse" id="collapse_bl_form">
      <p>
      </p>
      Pattern:
      <input type="text"
             id="bl_pat_input"
             oninput="bl_pat_valid_notify();"
             />
      &nbsp;
      <span id="bl_pat_check_res">
      </span>
      <p>
      </p>
      <button type="button"
              class="btn btn-sm btn-secondary"
              onclick="bl_pat_input_clear();">
              Reset
      </button>
      
      <button type="button"
              class="btn btn-sm btn-success"
              onclick="bl_pat_check();">
        Check regex
      </button>
      
      <button type="button"
              class="btn btn-sm btn-primary"
              onclick="bl_pat_save();">
        Save
      </button>
    </div>
  </div>

  <p>
    <hr />
  </p>

  <div>
    <table class="table table-striped table-secondary">
      <thead>
        <tr>
          <th>ID</th>
          <th>Pattern</th>
          <th>Hits</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody id="bl_items">
        {% for item in blacklist.items %}
          <tr>
            <td class="num">{{ item.item_id }}</td>
            <td>{{ item.pattern.pattern }}</td>
            <td class="num">{{ item.cnt }}</td>
            <td>&nbsp;</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


