{# -*- mode: jinja2; coding: utf-8; -*-
Time-stamp: <2025-11-10 19:49:32 krylon>
/data/code/python/headlines/web/templates/items.jinja
created on 01. 11. 2025
(c) 2025 Benjamin Walkenhorst
#}

{% import "macros.jinja" as lib %}

<table class="table table-secondary table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Source</th>
      <th>Headline</th>
      <th>Rating</th>
      <th>Tags</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody class="items" id="items">
    {% for item in items %}
      <tr>
        <td>
          {{ item.stamp_str }}
          <hr />
          <div id="later_{{ item.item_id }}" class="later">
            {% if item.item_id not in later %}
              <button type="button"
                      class="btn btn-light btn-sm later"
                      onclick="mark_later_read({{ item.item_id }});">
                      Later
              </button>
            {% else %}
              <button type="button"
                      class="btn btn-dark btn-sm later"
                      onclick="mark_later_done({{ item.item_id }});">
                      Done?
              </button>
            {% endif %}
          </div>
        </td>
        <td>
          <a href="/feed/{{ item.feed_id }}">
            {{ feeds[item.feed_id].name }}
          </a>
        </td>
        <td><a target="_blank" href="{{ item.url }}">{{ item.headline }}</a></td>
        <td id="item_rating_{{ item.item_id }}"> {# Rating #}
          {% if item.is_rated %}
            {% if item.rating == 0 %}
              <img src="/static/face-tired.png" onclick="unrate_item({{ item.item_id }});" />
            {% else %}
              <img src="/static/face-glasses.png" onclick="unrate_item({{ item.item_id }});" />
            {% endif %}
          {% else %}
            <small>({{ item.effective_rating.name }})</small>
          <p>
            <button type="button"
                    class="btn btn-primary"
                    onclick="rate_item({{ item.item_id }}, 1);">
                    Interesting
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    onclick="rate_item({{ item.item_id }}, 0);">
                    Boring
            </button>
          {% endif %}
        </td>
        <td> {# Tags #}
          <div id="tag_suggestions_{{ item.item_id }}">
            {% for sugg in advice[item.item_id] %}
              {% set aid = uuid() %}
              <span id="{{ aid }}" class="suggest">
                {{ sugg[0].name }}
                ({{ sugg[1] | round(1) }})
                <img src="/static/cs-xlet-running.png"
                     width="24"
                     height="24"
                     onclick="attach_tag_to_item({{ item.item_id }}, {{ sugg[0].tag_id }}, '{{- aid -}}', '{{ sugg[0].name }}');" />
              </span>
              {% if not loop.last %}&nbsp; {% endif %}
            {% else %}
              &mdash;
            {% endfor %}
          </div>
          <div id="item_tags_{{ item.item_id }}">
            {% for tag in item_tags[item.item_id] %}
              {{ lib.render_tag(item, tag) }}
              {% if not loop.last %}&nbsp; {% endif %}
            {% endfor %}
          </div>
          <div id="tag_form_{{ item.item_id }}">
            {% set id_root = "tag_menu_item_{}".format(item.item_id) %}
            <select id="item_tag_sel_{{ item.item_id }}" class="btn btn-secondary">
              {% for tag in tags %}
                <option value="{{ tag.tag_id }}"
                        id="{{ id_root }}_opt_{{ tag.tag_id }}"
                        {%- if tag in item_tags[item.item_id] %} disabled="" {% endif -%}
                        >
                        {{- lib.nbsp(tag.lvl*2) -}}
                        {{- tag.name -}}
                </option>
              {% endfor %}
            </select>
            <button class="btn btn-success" onclick="add_tag({{ item.item_id }});">
              Add Tag
            </button>
          </div>
        </td>
        <td>
          <button class="btn btn-primary"
                  data-bs-toggle="collapse"
                  href="#collapse_item_{{ item.item_id }}"
                  aria-expanded="false"
                  aria-controls="#collapse_item_{{ item.item_id }}">
                  Description
          </button>
          <div class="collapse" id="collapse_item_{{ item.item_id }}">
            {{ item.clean_body }}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
