{# -*- mode: jinja2; coding: utf-8; -*-
Time-stamp: <2025-11-02 17:56:29 krylon>
/data/code/python/headlines/web/templates/news.jinja
created on 13. 10. 2025
(c) 2025 Benjamin Walkenhorst
#}

{% extends "main.jinja" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <script>
    $(document).ready(() => {
        scale_images()
    })
  </script>

  {% include 'items.jinja' %}

{% endblock %}

{#
{% block footer %}
{% endblock %}
#}

