{# -*- mode: jinja2; coding: utf-8; -*-
Time-stamp: <2025-10-14 15:24:31 krylon>
/data/code/python/headlines/web/templates/news.jinja
created on 13. 10. 2025
(c) 2025 Benjamin Walkenhorst
 #}

{% extends "main.jinja" %}

{% block title %}
  {{ title }}
{% endblock %}

{#
{% block intro %}
{% endblock %}

{% block menu %}
{% endblock %}
#}

{% block content %}
  <table class="table table-secondary table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Source</th>
        <th>Headline</th>
        <th>Rating</th>
        <th>Tags</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.stamp_str }}</td>
          <td>
            <a href="/feed/{{ item.feed_id }}">
              {{ feeds[item.feed_id].name }}
            </a>
          </td>
          <td><a href="{{ item.url }}">{{ item.headline }}</a></td>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary"
                    data-bs-toggle="collapse"
                    href="#collapse_item_{{ item.item_id }}"
                    aria-expanded="false"
                    aria-controls="#collapse_item_{{ item.item_id }}">
                    Description
            </button>
            <div class="collapse" id="collapse_item_{{ item.item_id }}">
              {{ item.body }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
{% block footer %}
{% endblock %}
#}

