{# -*- mode: jinja2; coding: utf-8; -*-
Time-stamp: <2025-12-02 19:15:21 krylon>
/data/code/python/headlines/web/templates/search.jinja
created on 29. 11. 2025
(c) 2025 Benjamin Walkenhorst
 #}

{% extends "main.jinja" %}

{% import "macros.jinja" as lib %}

{% block content %}
  <div class="container content">
    <div class="row">
      <div class="col">
        <input type="search" placeholder="Search..." id="search_text" />
        <button type="button"
                class="btn btn-sm btn-primary"
                onclick="search_do();">
                Find
        </button>
        <button type="button"
                class="btn btn-sm btn-danger"
                onclick="search_reset();">
                Reset
        </button>
      </div>

      <div class="col">
        <fieldset>
          <label for="tag_and">AND</label>
          <input type="radio" id="and" name="link" value="and" checked />
          &nbsp;
          <label for="tag_or">OR</label>
          <input type="radio" id="or" name="link" value="or" />
        </fieldset>
        <select id="search_tag_menu" class="btn btn-sm btn-secondary">
          {% for tag in tags %}
            <option value="{{ tag.tag_id }}" 
                    id="{{ tag.tag_id }}">
                    {{- lib.nbsp(tag.lvl*2) -}}
                    {{- tag.name -}}
            </option>
          {% endfor %}
        </select>
        <button class="btn btn-sm btn-success" onclick="add_tag_to_search_bin();">
          Add Tag
        </button>
      </div> <!-- col 0 -->
      <div class="col" id="tag_bin">
        
      </div>
    </div> <!-- row 0 -->

    <div class="row" id="result_bin"> {# Results go here #}
      
    </div>
  </div> <!-- container/content -->
{% endblock %}


